/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea {   color: #444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
html { overflow-y: scroll; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #FF5E99; } 

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;	 } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


 /* Primary Styles
    Author: Matthew Rothstein
 */


body {
	padding: 50px; 
	
	padding-top: 50px;
	
	font-size: 10px;
	
	height: 800px; 
	overflow: hidden;
	
	border: 1px red solid;
}

#main section {
	margin-bottom: 40px;
	
	border: 2px solid gray;
	border-radius: 0px;
	
	/*
	padding: 20px; 
	padding-top: 10px;
	*/
	
	float: left;
}

/* padding from here done in ems */
#main section h1 { 
	margin-bottom: 5px;
	
	font-size: 1.4em;
	text-indent: 10px;
	
	color: black;
	
	background-color: lightblue;
	
	border-bottom: 1px darkgray solid;
}

#main section fieldset {
	margin-bottom: 1em;
}

#main section .field,
#main section .field_label {
	font-size: 1.3em;
}

#main section .field_title,
#main section .element_title {
	font-size: 1.3em;
}

#main section .field[type=button] { 
	min-width: 50px 
	height: 35px; 
	
	border: 1px gray solid;
	background-color: white;
	
	border-radius: 10px;

}



 /* Audit Styles
    Author: Matthew Rothstein
 */
#audit_container {
	float: right; 
	
	position: relative;
	top: -10px;
	
	padding: 20px;
	
	width: 400px;
	margin-right: 20%;
	
	min-height: 300px;
	
	overflow: auto;
	
	border: 2px darkgray solid;
	
	display: none;
}

#audit_container h2 {
	border-bottom: 4px darkgray solid;
	
	margin-bottom: 15px;
}

#audit_container .audit_item {
	
	padding-bottom: 3px;
	
	margin-bottom: 10px;
	
	
	border-bottom: 1px darkgray solid;
}
#audit_container .audit_item .audit_item_row_title,
#audit_container .audit_item .event_type_title,
#audit_container .audit_item .event_target_id_title,
#audit_container .audit_item .event_target_class_title,
#audit_container .audit_item .audit_data_title { font-weight: bold; }


/* Location Picture Styles
   Author: Matthew Rothstein
*/
#main section.location h1 {
	margin-bottom: 0;
}

.location img {
	position: relative;
}

.location div {
	position: relative;
}

#location_hit_table {
	position: absolute;
	
	width: 100%;
	height: 100%;
	
	top: 0;
	left: 0;
}

.hit_point {
	border: 0px red solid;
	
	height: 30px;
}

.markable { 
	/*background-color: rgba( 123,123,123, 0.3); */
}

.marked {
	/*background-color: blue;*/
	opacity: 0.6;
	background: no-repeat url(dot.png) center;
}


/* Debug Styles
   Author: Matthew Rothstein
*/

.debug { font-size: 5em; }


/* Interaction Styles
   Author: Matthew Rothstein
*/
.tappable_wrapper { display: inline; }

.tappable {
	display: inline-block; 
	border: 0px solid gray; background-color: white;  font-size: 1.3em !important; width: 70px; text-align: center;
	padding-top: 2px; padding-bottom: 2px; 
	
	border: 0px lightgray solid;
	border-radius: 10px;
	

}

.tapped { border: 3px solid green; /*background-color: green;*/ border-radius: 10px; }

.swiped { /*border: 3px solid red; background-color: red; */  text-decoration: line-through; color: red; }

.section_row { margin-bottom: 5px; }

.field_title { font-weight: bold; }

/* Section Positioning Styles 

*/
header { position: relative; top: 220px; left: 750px; }
header h1 { font-size: 1.5em; }
header h2 span {  display: block; }
section { position: absolute; padding: 0px; }
.onset { top: 0px; left: 0px; width: 355px;  padding-bottom: 5px; }
.severity { top: 155px; left: 0px;  width: 355px;}
.course_and_timing { top: 260px; left: 0px; width: 355px; }
.location { top: 000px; left: 358px; }
.location img {
	height: 220px;
}
.relieved_by { top: 0px; left: 517px; }
.quality { top: 75px; left: 517px; }
.exacerbated_by { top: 150px; left: 517px; }
.associated_symptoms { top: 0px; left: 730px; height: 240px; }
.associated_symptoms .field { width: 90px; }

.context { top: 240px; left: 358px; width: 640px; }
.context textarea { width: 630px; }

/* DEBUG STYLES */
#test_button { /*text-indent: -9999px;*/ content: "test button!"; }

#audit_container { }
#audit_container p { border: 1px red solid; border-bottom: 1px green solid; }

@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) { 
  
}

@media screen and (max-device-width: 480px) {
  
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }  
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

